aiohttp==3.8.1; python_version >= "3.7"
aioredis==2.0.0; python_version >= "3.6"
aiosignal==1.2.0; python_version >= "3.6"
aiostream==0.4.3
amqp==5.0.6; python_version >= "3.7"
anyio==3.3.4; python_version >= "3.6" and python_full_version >= "3.6.2"
asgiref==3.4.1; python_version >= "3.7"
async-timeout==4.0.1; python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
autologging==1.3.2
backports.zoneinfo==0.2.1; python_version < "3.9" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
beartype==0.9.1; python_full_version >= "3.6.0"
billiard==3.6.4.0; python_version >= "3.7"
broadcaster==0.2.0; python_version >= "3.7"
btcturk-api==1.8.1; python_version >= "3.6"
celery==5.2.1; python_version >= "3.7"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
charset-normalizer==2.0.7; python_full_version >= "3.6.0" and python_version >= "3.6"
click-didyoumean==0.3.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
click-plugins==1.1.1; python_version >= "3.7"
click-repl==0.2.0; python_version >= "3.7"
click==8.0.3; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_full_version >= "3.5.0" and platform_system == "Windows" and python_version >= "3.7"
cryptography==35.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
dateparser==1.1.0; python_version >= "3.5"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
fastapi-websocket-pubsub==0.1.21; python_version >= "3.7"
fastapi-websocket-rpc==0.1.21; python_version >= "3.7"
fastapi==0.70.0; python_full_version >= "3.6.1"
flask==2.0.2; python_version >= "3.6"
flower==1.0.0
frozenlist==1.2.0; python_version >= "3.6"
h11==0.12.0; python_version >= "3.7"
httptools==0.2.0; python_version >= "3.7"
humanize==3.12.0; python_version >= "3.6"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.6"
itsdangerous==2.0.1; python_version >= "3.6"
jinja2==3.0.3; python_version >= "3.6"
kombu==5.2.2; python_version >= "3.7"
markupsafe==2.0.1; python_version >= "3.6"
multidict==5.2.0; python_version >= "3.6"
ndg-httpsclient==0.5.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
prometheus-client==0.12.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
prompt-toolkit==3.0.22; python_full_version >= "3.6.2" and python_version >= "3.7"
pusher==3.1.0
pyasn1==0.4.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pycparser==2.21; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.7"
pynacl==1.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pyopenssl==21.0.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
python-binance==1.0.15
python-dateutil==2.8.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
python-dotenv==0.19.2; python_version >= "3.5"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pytz==2021.3; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
redis==4.0.1; python_version >= "3.6"
regex==2021.11.10; python_version >= "3.5"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
simplejson==3.17.6; (python_version >= "2.5" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
sniffio==1.2.0; python_version >= "3.6" and python_full_version >= "3.6.2"
starlette==0.16.0; python_version >= "3.7" and python_full_version >= "3.6.1"
tenacity==8.0.1; python_version >= "3.7"
tornado==6.1; python_version >= "3.5"
typing-extensions==4.0.0; python_version >= "3.6" and python_full_version >= "3.6.1"
tzdata==2021.5; platform_system == "Windows" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
tzlocal==4.1; python_version >= "3.6"
ujson==4.2.0; python_version >= "3.6"
urllib3==1.26.7; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
uvicorn==0.15.0
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
vine==5.0.0; python_version >= "3.7"
watchgod==0.7; python_version >= "3.7"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
websockets==9.1; python_full_version >= "3.6.1"
werkzeug==2.0.2; python_version >= "3.6"
wrapt==1.13.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
yarl==1.7.2; python_version >= "3.6"
