<!DOCTYPE html>
<head>
  <title>BlackOps</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />
</head>

<body class="has-background-dark has-text-success is-family-sans-serif is-size-5 has-text-left" style="min-height: 100rem">
  <div class="container">
    <nav
      class="navbar has-background-dark"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          class="
            navbar-item
            is-family-monospace is-size-4 is-bold
            has-text-success
          "
          href="/"
        >
          BlackOps
        </a>
      </div>
    </nav>

    <br />

    <div id="app">
      <p class="has-text-primary-light">
        Click for the
        <a href="/docs" target="_blank" class="has-text-success"
          >control panel</a
        >
      </p>

      <br />

      <!-- 
      <h2>Trader Radio</h2>

      <h3>Running Robots</h3>

      <h1>WebSocket Chat</h1>
      <h2>Your ID: <span id="ws-id"></span></h2>
      <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off" />
        <button>Send</button>
      </form>
      <ul id="messages"></ul> -->

      <div class="column is-one-quarter">
        <input
          class="input is-rounded"
          v-model="sha"
          v-on:input="connect"
          placeholder="please enter the sha"
        />
      </div>

      <br />
      <br />
<!-- 
      <button class="button is-danger" onclick="await stopAllTasks()">Stop All Robots</button> -->


      <div class="columns">

        <div class="column">

          <h1 class="has-text-danger mb-10">Config</h1>

          <pre class="has-background-dark has-text-success">{{ JSON.stringify(config, null, 2) }}</pre>

          
        </div>




      </div>


      <div class="columns">

        <div class="column">

          <h1 class="has-text-danger mb-10">Summary</h1>

          <pre class="has-background-dark has-text-success">{{ JSON.stringify(stats, null, 2) }}</pre>
          
  
        </div>

        <div class="column">

          <h2 class="has-text-danger">Longs</h2>

          <div style="height: 32rem; overflow: scroll">

  
            <ul>
              <li v-for="order in long_orders">
                
          <pre class="has-background-dark has-text-success">{{ JSON.stringify(order, null, 2) }}</pre>
                      
             </li>
            </ul>
  
          </div>

          <h1 class="has-text-danger">Messages</h1>
 
          <div style="height: 32rem; overflow: scroll">
            <ul>
              <li class="" v-for="message in messages">{{message}}</li>
            </ul>

          </div>


        </div>


        <div class="column">
          <h2 class="has-text-danger">Shorts</h2>

          <div style="height: 32rem; overflow: scroll">


            <ul>
              <li v-for="order in short_orders">
                <pre class="has-background-dark has-text-success">{{ JSON.stringify(order, null, 2) }}</pre>

             </li>
            </ul>
          </div>


          <h2 class="has-text-danger">Errors</h2>
            <div style="height: 32rem; overflow: scroll">
              <ul>
                <li v-for="error in errors">

                  <pre class="has-background-dark has-text-success">{{ JSON.stringify(error, null, 2) }}</pre>
                    
                  

                </li>
              </ul>
            </div>

        </div>



    </div>
  </div>

  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = false;

    let stats = {};
    let config = {};

    const app = new Vue({
      el: "#app",
      data: {
        sha: null,

        messages: [],
        errors: [],
        long_orders: [],
        short_orders: [],

        stats: stats,
        config : config,
      },

      methods: {
        connect: function (e) {
          var channel = pusher.subscribe(app.sha);

          channel.bind("error", function (data) {
            app.errors.push(data);
          });

          channel.bind("stats", function (data) {
            let stats = JSON.parse(data.message)
            app.stats = stats;
            app.config = stats.config;
            delete stats.config
            
            app.long_orders = stats.orders.longs;
            app.short_orders = stats.orders.shorts;

            stats.orders.longs = stats.orders.longs.length 
            stats.orders.shorts = stats.orders.shorts.length
          });

          channel.bind("message", function (data) {
            app.messages.push(data);
          });

          channel.bind("order", function (data) {
            order = data.message;
            if (order.type == "buy") {
              app.long_orders.push(order);
            }
            if (order.type == "sell") {
              app.short_orders.push(order);
            }
          });
        },
      },
    });


    // var ws = new WebSocket("ws://localhost:8000/ws");
    // ws.onmessage = function (event) {
    //   var messages = document.getElementById("messages");
    //   var message = document.createElement("li");
    //   var content = document.createTextNode(event.data);
    //   message.appendChild(content);
    //   messages.appendChild(message);
    // };

    // function sendMessage(event) {
    //   var input = document.getElementById("messageText");
    //   ws.send(input.value);
    //   input.value = "";
    //   event.preventDefault();
    // }

    var pusher = new Pusher("7b2411e6822e2f36b872", {
      cluster: "eu",
    });

    app.connect();


    // async function stopAllTasks(){
    //     const response = await fetch('http://localhost:8000/task', {
    //       method: 'DELETE',
    //     });
    //     alert(response);
    //   };


  </script>
</body>
