<!DOCTYPE html>
<head>
  <title>BlackOps</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
  />


</head>

<body class="has-background-dark has-text-success" style="min-height: 100rem">
  <div class="container">
    <nav
      class="navbar has-background-dark"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          class="
            navbar-item
            is-family-monospace is-size-4 is-bold
            has-text-success
          "
          href="/"
        >
          BlackOps
        </a>
      </div>
    </nav>

    <br />

    <div id="app">
      <p class="has-text-primary-light">
        Click to create and
        <a href="/docs" target="_blank" class="has-text-success"
          >run a strategy</a
        >
      </p>

      <br />


  <div class="column is-one-third">


    <p class="has-text-primary-light">Copy/paste the task sha to view logs</p>

    <input
    class="input is-rounded"
    v-model="sha"
    v-on:input="connect"
    placeholder="please enter the sha of the stg you run"
  />


  </div>

      <br />
      <br />

      <div class="columns">
        <div class="column">
          <h1 class="has-text-danger mb-4">Start Params</h1>

          {{params}}
        </div>

      </div>


      <div class="columns">


        <div class="column">

          <h1 class="has-text-danger mb-4">Summary</h1>

          <p>pnl: {{pnl}}</p>
          <p>last_update: {{pnl_last_updated}}</p>

          ---

          <p>bridge: {{bridge}}</p>
          <p>last_update: {{bridge_last_updated}}</p>

          ---

          <p>remaining_usable_quote_balance: {{remaining_usable_quote_balance}}</p>

          ---

          <p>current_step: {{current_step}}</p>

          ---
        </div>
        
        <div class="column">
          <p>theo_buy: {{theo_buy}}</p>
          <p>last_update: {{theo_buy_last_updated}}</p>

          ---

          <p>theo_sell: {{theo_sell}}</p>
          <p>last_update: {{theo_sell_last_updated}}</p>

          ---
        </div>


        <div class="column">

          <p>best ask: {{best_seller}}</p>
          <p>last_update: {{best_seller_last_updated}}</p>

          ---

          <p>best bid: {{best_buyer}}</p>
          <p>last_update: {{best_buyer_last_updated}}</p>

          ---

        </div>


        <div class="column">
          <p>btc_books_seen: {{btc_books_seen}}</p>
          ---

          <p>binance_book_tickers_seen: {{binance_book_tickers_seen}}</p>

          ---
        </div>


      </div>

      <div class="columns">

        <div class="column" style="height: 25rem; overflow: scroll;">
          <h2 class="has-text-danger">Long Orders</h2>
          <br />
          <br />

          <ul>
            <li v-for="order in long_orders">{{order}}</li>
          </ul>
        </div>

        <div class="column" style="height: 25rem; overflow: scroll;">
          <h2 class="has-text-danger">Short Orders</h2>
          <br />
          <br />

          <ul>
            <li v-for="order in short_orders">{{order}}</li>
          </ul>
        </div>

      </div>


      <div class="columns" >

        <div class="column" style="height: 25rem; overflow: scroll;">
          <h1 class="has-text-danger">Messages</h1>
          <br />
          <br />

          <ul>
            <li class="" v-for="message in messages">{{message}}</li>
          </ul>
        </div>

        <div class="column" style="height: 25rem; overflow: scroll;">
          <h2 class="has-text-danger">Errors</h2>
          <br />
          <br />

          <ul>
            <li v-for="error in errors">{{error}}</li>
          </ul>
        </div>
</div>





    </div>
  </div>

  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    function getParameterByName(name, url = window.location.href) {
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return "";
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    let params = {
      type: null, 
      name: null,
      pair: null,
      max_usable_quote_amount_y: null,
      step_constant_k: null,
      credit: null,
      step_count : null,
      task_start_time : null,
      start_base_balance: null,
      start_quote_balance: null, 
    }

    let stats = {

    }

    // Vue application
    const app = new Vue({
      el: "#app",
      data: {
        messages: [],
        sha: null,
        pnl: 0,
        pnl_last_updated: "",
        theo_buy: 0,
        theo_buy_last_updated: "",
        theo_sell: 0,
        theo_sell_last_updated: "",
        best_buyer: 0,
        best_buyer_last_updated: "",
        best_seller: 0,
        best_seller_last_updated: "",
        bridge: "",
        bridge_last_updated: "",
        long_orders: [],
        short_orders:[],
        binance_book_tickers_seen: 0,
        btc_books_seen: 0,
        task_start_time: "",
        errors: [],
        remaining_usable_quote_balance: 0,
        current_step: 0 ,
        params: params,
      
      },

      methods: {
        connect: function (e) {
          var channel = pusher.subscribe(app.sha);


          channel.bind("error", function (data) {
            app.errors.push(data);
          });

          channel.bind("params", function (data) {
            app.params = data.message;

          });

          channel.bind("message", function (data) {
            app.messages.push(data);
          });

    
          channel.bind("order", function (data) {
            order = data.message 
              if(order.type == "long"){
                app.long_orders.push(order);
              }
              if(order.type == "short"){
                app.short_orders.push(order);
              }
          });

          channel.bind("stats", function (data) {

              data = data.message;

              app.pnl = data.pnl;
              app.pnl_last_updated = data.pnl_last_updated;
              
              app.bridge = data.bridge;
              app.bridge_last_updated = data.bridge_last_updated;
              
              app.best_buyer = data.best_buyer;
              app.best_buyer_last_updated = data.best_buyer_last_updated;

              app.best_seller = data.best_seller;
              app.best_seller_last_updated = data.best_seller_last_updated;

              app.binance_book_tickers_seen = data.binance_book_tickers_seen;
              app.btc_books_seen = data.btc_books_seen;

              app.theo_buy = data.theo_buy;
              app.theo_buy_last_updated = data.theo_buy_last_updated;

              app.theo_sell = data.theo_sell;
              app.theo_sell_last_updated = data.theo_sell_last_updated;

              app.remaining_usable_quote_balance = data.remaining_usable_quote_balance;
              app.current_step = data.current_step;

              app.params = data.params;

            
          });


        },
      },
    });

    var pusher = new Pusher("7b2411e6822e2f36b872", {
      cluster: "eu",
    });

    // var sha = getParameterByName('sha');

    app.connect();
  </script>
</body>
